<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PSPReporting</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Client Search</h1>


            <form action="#" method="post" th:action="@{/client}" th:object="${client_request}">

                <div class="form-group">
                    <label for="transactionId">Transaction</label>
                    <input class="form-control" id="transactionId"
                           placeholder="Enter transaction Id"
                           required
                           th:field="*{transactionId}"
                           type="text">
                </div>


                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" type="reset">Reset</button>
            </form>

        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>