<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/css/layout.css" rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<h1>Client Result</h1>

<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>First Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${client_result.customerInfo == null}">
        <td colspan="2"> No Clients Available</td>
    </tr>
    <tr th:unless="${client_result.customerInfo == null}">
        <td th:text="${client_result.customerInfo.email}"></td>
        <td th:text="${client_result.customerInfo.billingFirstName}"></td>
    </tr>
    </tbody>
</table>

<a href="/client">Submit another client search</a>
</body>
</html>