<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transactions</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Result</h1>

<table>
    <thead>
    <tr>
        <th> Count</th>
        <th> Total</th>
        <th> Currency</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions_report_result.response.size() == 0}">
        <td colspan="3"> No Reports Available</td>
    </tr>
    <tr th:each="transactions_report : ${transactions_report_result.response}">
        <td><span th:text="${transactions_report.count}"> Count </span></td>
        <td><span th:text="${transactions_report.total}"> Total </span></td>
        <td><span th:text="${transactions_report.currency}"> Currency </span></td>
    </tr>
    </tbody>
</table>

<a href="/transactions/report">Submit another request</a>
</body>
</html>