<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>

<div th:replace="fragments/header :: header"></div>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Transaction Search</h1>


            <form action="#" method="post" th:action="@{/transaction}" th:object="${transaction_request}">

                <div class="form-group">
                    <label for="transactionId">Transaction</label>
                    <input class="form-control" id="transactionId"
                           placeholder="Enter transaction Id"
                           required
                           th:field="*{transactionId}"
                           type="text">
                </div>


                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" type="reset">Reset</button>
            </form>

        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>